* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #262626 !important;
}

.section5 {
  padding: 50px 0;
  text-transform: uppercase;
}

.headText {
  font-weight: 600;
  font-size: 45px;
}

.contentHeadText {
  font-size: 40px;
  font-weight: 600;
}

.commonSection {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 {
  background-color: blueviolet;
  height: 100vh;
}

.section2 {
  background-color: aliceblue;
}

.section3 {
  background-color: aqua;
  height: 100vh;
}

.section6 {
  background-color: burlywood;
}

.section4 {
  background-color: bisque;
}

.box1 {
  width: 300px;
  height: 300px;
  background-color: #262626;
}

.box2 {
  width: 300px;
  height: 300px;
  background-color: #262626;
}

.box3 {
  width: 300px;
  height: 300px;
  background-color: #262626;
}

.box4 {
  width: 300px;
  height: 300px;
  background-color: #262626;
}
